body{
    background-color: #c6d7de;
    font-family: Helvetica, sans-serif;
    padding: 3em;
}
#v0{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}
#set-height{
    display: block;
}

section {
    z-index:1;
    position: relative;
}

.content{
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 33.3%;
}

.content h1{
    font-size: 3em;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0;
}

.content p{
    font-size: 1.5em;
}

.container:nth-of-type(1){
    height: 1200px;
}


.container:nth-of-type(2){
    height: 1200px;
}

.container:nth-of-type(3){
    height: 1200px;
}

.container:nth-of-type(4){
    height: 1200px;
}

.container:nth-of-type(5){
    height: 1200px;
}

.text-focus-in {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: tracking-in-expand 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  